@import '../scss/mixins.scss';

.wrap {
  position: relative;
  width: 100vw;
}

.wrap.lock {
  position: fixed;
  top: 0px;
}

//header
#header {
  background: #fff;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  z-index: 6;

  .header_inner {
    height: 80px;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 0 24px;
    .logo {
      float: left;
      height: 100%;
      margin-right: 40px;
      a {
        display: inline-block;
        height: 100%;
        cursor: grab;
        img {
          width: 100%;
          height: 18px;
          vertical-align: middle;
        }
      }
      :after {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
  }
  .bg {
    @include nav_hover_bg;
    background: #fff;
    transition-delay: 0.1s;
  }
  .bg.open {
    opacity: 1;
    border-bottom: 1px solid black;
    transition-delay: 0.1s;
  }

  .icons {
    display: flex;
    float: right;
    height: 100%;
    button {
      position: relative;
      width: 24px;
      flex: 1;
      margin: 0 2px;
      .profile {
        position: absolute;
        visibility: hidden;
        top: 36px;
        right: 0;
        width: 216px;
        padding: 8px 0;
        background: #fff;
        opacity: 0;
        border-radius: 6px;
        transform: scale(0.6);
        box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
        transition: transform 0.1s cubic-bezier(0.2, 0.6, 0.4, 1) 0.1s,
          opacity 0.1s cubic-bezier(0.2, 0.6, 0.4, 1) 0.1s;
        transform-origin: 100% 0;
        will-change: transform;
        z-index: 11;
        &.on {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
          z-index: 11;
        }
      }
    }
  }
}

//nav
#nav {
  height: 100%;
  float: left;
  .depth1 {
    display: flex;
    > li {
      font-size: 14px;
      font-weight: 700;
      padding: 32px 12px 0;
      .depth2_wrapper {
        @include nav_hover_bg;
        opacity: 1;
        width: 100%;
        background: transparent;
        transition-delay: 0.1s;
        z-index: 8;

        .depth2_inner {
          position: relative;
          margin: 0 auto;
          max-width: 1440px;
          padding: 0 24px;
          height: 100%;
          opacity: 0;
          transition: opacity 0.3s 0.1s;

          .title {
            height: 80px;
            color: #000;
            font-size: 32px;
            line-height: 1.33;
            vertical-align: middle;
          }

          .depth2 {
            width: 260px;
            li {
              position: relative;
              color: #000;
              font-size: 18px;
              line-height: 55px;
              padding-right: 32px;
              .depth3_wrapper {
                visibility: hidden;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 352px;
                right: 0;
                width: 424px;
                .depth3_inner {
                  opacity: 0;
                  transform: translateX(-30px);
                  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s,
                    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s,
                    -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
                }
              }
            }
          }
        }
        &.open {
          opacity: 1;
          height: 672px;
          .depth2_inner {
            visibility: visible;
            &.open {
              opacity: 1;
              transition: opacity 0.3s 0.1s;
              .active {
                .depth3_wrapper {
                  visibility: visible;
                  .depth3_inner {
                    opacity: 1;
                    transform: translateX(0px);
                  }
                }
              }
            }
          }
        }
        > li {
          opacity: 0;
        }
      }
    }
    .open {
      .open {
        opacity: 1;
        z-index: 5;
      }
    }
  }
}

.depth2_wrapper {
  @include nav_hover_bg;
  opacity: 1;
  width: 100%;
  background: #fff;
  transition-delay: 0.1s;
  z-index: 6;

  &.open {
    opacity: 1;
    height: 672px;
  }
}

.nav_dim {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  &.open {
    display: block;
    opacity: 0.68;
    z-index: 5;
  }
}
.icons_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  z-index: 50;
  transition: opacity 0.3s ease;

  &.on {
    display: block;
    opacity: 1;
  }
}

.nav_slide {
  display: flex;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  height: 100%;
  z-index: 55;
  transform: translateX(360px);
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1),
    -webkit-transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
  .nav_slide_wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 54px 24px 0;
    z-index: 11;
    .nav_slide_main,
    .nav_slide_sub {
      float: none;
      .slider_gnb_main {
        display: block;
        visibility: hidden;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        > li {
          display: table;
          width: 100%;
          height: auto;
          > a {
            overflow: hidden;
            position: relative;
            display: table-cell;
            left: 0;
            width: 100%;
            height: 56px;
            padding: 0;
            border-radius: 0;
            color: #000;
            font-weight: normal;
            font-size: 20px;
            vertical-align: middle;
            opacity: 1;
            transform: translateX(0);
            transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1),
              opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
          }
          .slide_gnb {
            overflow: hidden;
            position: fixed;
            left: auto;
            right: 0;
            top: 0;
            bottom: 0;
            width: 360px;
            background: #fff;
            z-index: 22;
            transform: translateX(360px);
            transition: -webkit-transform 0.3s cubic-bezier(0.6, 0, 0.4, 1) 0.05s;
            transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1) 0.05s;
            transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1) 0.05s,
              -webkit-transform 0.3s cubic-bezier(0.6, 0, 0.4, 1) 0.05s;

            .slide_gnb_depth2 {
              visibility: visible;
              padding: 56px 24px 0;
              overflow: hidden;
              overflow-y: auto;
              position: absolute;
              left: 0;
              top: 56px;
              bottom: 0;
              width: 360px;
              height: auto;
              transition-property: scrollTop;
            }
          }
        }
        &.on {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
          &.first {
            &:before {
              display: none;
            }
          }
          &:before {
            content: '';
            display: block;
            height: 1px;
            margin: 16px 0;
            background: #ddd;
            opacity: 1;
          }
        }
      }
    }
    &.slide {
      .nav_slide_main,
      .nav_slide_sub {
        .slider_gnb_main {
          > li {
            > a {
              transform: translateX(-180px);
              opacity: 0;
              transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
              transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1),
                opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
              transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1),
                opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
            }
          }
          &.on {
            &:before {
              opacity: 0;
              transform: translateX(-180px);
            }
            .open {
              transform: translateX(0);
              // opacity: 1;
            }
          }
        }
      }
      .open {
        transform: translateX(0px);
        > li {
          position: relative;
          padding: 0;
          width: 100%;
          padding: 0;
          font-size: 18px;
          opacity: 1;
        }
      }
    }
  }

  &.on {
    // opacity: 1;
    // transform: translate3d(0, 0, 0);
    transform: translateX(0);
  }
}

.router-nav {
  position: sticky;
  top: 0;
  z-index: 5;
  h4 {
    float: left;
  }
  .router-nav_list {
    display: flex;
    flex-direction: row;
    &.display {
      display: flex;
    }
  }
}

#main {
  position: relative;
}
//footer
#footer {
  position: relative;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  .footer-inner {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;

    .footer_list {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      > li {
        flex: 1;
        padding: 0 24px 24px;
        border-right: 1px solid #d9d9d9;
        &:last-child {
          border-right: none;
        }
        &.over {
          flex: 2;
          > ul {
            width: 50%;
          }
        }
        ul {
          float: left;
        }
        h3 {
          display: block;
          height: 56px;
          padding: 16px 0;
          font-size: 18px;
          line-height: 1.33;
          font-weight: 700;
        }
        a {
          display: block;
          padding: 7px 24px;
          font-size: 14px;
          line-height: 1.33;
          color: #000;
        }
      }
    }
  }
}

@include hoverNav {
  #header {
    .bg.open {
      opacity: 1;
      height: 44.1vw;
    }
  }
  nav {
    ul {
      .open {
        .depth2 {
          opacity: 1;
          height: 44vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .nav_slide:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
  }
}

@include tablet {
  #header {
    nav {
      display: none;
    }
  }
}

@include mobile {
}

#footer {
  position: relative;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  .footer-inner {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;

    .footer_list {
      display: flex;
      flex-direction: row;
      > li {
        flex: 1;
        padding: 0 24px 24px;
        border-right: 1px solid #d9d9d9;
        &:last-child {
          border-right: none;
        }
        &.over {
          flex: 2;
          > ul {
            width: 50%;
          }
        }
        ul {
          float: left;
        }
        h3 {
          display: block;
          height: 56px;
          padding: 16px 0;
          font-size: 18px;
          line-height: 1.33;
          font-weight: 700;
        }
        a {
          display: block;
          padding: 7px 24px;
          font-size: 14px;
          line-height: 1.33;
          color: #000;
        }
      }
    }
  }
}

@include mobile {
  #footer {
    position: relative;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    .footer-inner {
      position: relative;
      margin: 0 auto;
      max-width: 1440px;

      .footer_list {
        display: flex;
        flex-direction: column;
        > li {
          flex: 1;
          padding: 0 24px 24px;
          border-right: 1px solid #d9d9d9;
          &:last-child {
            border-right: none;
          }
          &.over {
            flex: 2;
            > ul {
              display: none;
            }
          }
          ul {
            display: none;
            float: left;
          }
          h3 {
            display: block;
            height: 56px;
            padding: 16px 0;
            font-size: 18px;
            line-height: 1.33;
            font-weight: 700;
          }
          a {
            display: block;
            padding: 7px 24px;
            font-size: 14px;
            line-height: 1.33;
            color: #000;
          }
        }
      }
    }
  }
}

@include tablet {
  .router-nav {
    text-align: center;
    h4 {
      float: initial;
    }
    .router-nav_list {
      position: absolute;
      width: 100%;
      display: none;
      flex-direction: column;
      &.display {
        display: flex;
      }
    }
  }
}
