@import '../scss/mixins.scss';

.wrap {
  position: relative;
  width: 100vw;
}

.wrap.lock {
  position: fixed;
  top: 0px;
}

.bold {
  font-weight: 700 !important;
}

.sansbold {
  font-family: 'SamsungOneSharpSans';
  font-weight: bold !important;
}

.section_inner {
  @include sectioninner;
}

//header
#header {
  background: #fff;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  z-index: 6;

  .header_inner {
    height: 80px;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 0 16px 0 14px;
    .logo {
      float: left;
      height: 100%;
      margin-right: 40px;
      a {
        display: inline-block;
        height: 100%;
        cursor: grab;
        img {
          width: 100%;
          height: 18px;
          vertical-align: middle;
        }
      }
      :after {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
  }
  .sub_gnb_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;

    .sub_gnb {
      @include gnblistWebSize;
      display: flex;
      flex-direction: row;
      > li {
        margin-right: 24px;
      }
    }
  }

  .bg {
    @include nav_hover_bg;
    background: #fff;
    transition-delay: 0.1s;
  }
  .bg.open {
    opacity: 1;
    border-bottom: 1px solid black;
    transition-delay: 0.1s;
  }

  .icons {
    margin-left: 24px;
    display: flex;
    float: right;
    align-items: center;

    button {
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 24px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      &.cart {
        background-image: url('../assets/icons/icon_bold_shopping_cart.png');
        &.active {
          &:after {
            position: absolute;
            right: -6px;
            top: -5px;
            width: 16px;
            line-height: 16px;
            color: #fff;
            text-align: center;
            display: block;
            content: '2';
            font-size: 12px;
            background: #ef3434;
            border-radius: 50%;
          }
        }
      }
      &.search {
        background-image: url('../assets/icons/icon_bold_action_search.png');
      }
      &.profile {
        width: 36px;
        height: 36px;
        margin-right: 0;
        background-image: url('../assets/icons/profile.png');
      }
      &.hamburger {
        display: none;
        width: 30px;
        height: 30px;
        background-image: url('../assets/icons/icon_bold_navigation_menu.png');
      }
      .profile {
        position: absolute;
        visibility: hidden;
        top: 34px;
        right: 0;
        width: 216px;
        padding: 8px 16px;
        background: #fff;
        opacity: 0;
        border-radius: 6px;
        transform: scale(0.6);
        box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
        transition: transform 0.1s cubic-bezier(0.2, 0.6, 0.4, 1) 0.1s,
          opacity 0.1s cubic-bezier(0.2, 0.6, 0.4, 1) 0.1s;
        transform-origin: 100% 0;
        will-change: transform;
        z-index: 11;
        &.on {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
          z-index: 11;
        }
      }
      .name {
        display: flex;
        align-items: center;
        padding: 16px 0;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #ddd;
      }
      i {
        margin-right: 8px;
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../assets/icons/profile.png');
        background-size: cover;
      }
      h5 {
        font-size: 16px;
        font-weight: 700;
      }
      ul {
        margin-top: 8px;
      }
      li {
        text-align: left;
        cursor: pointer;
        font-size: 14px;
        line-height: 40px;
      }
    }
  }
}

//nav
#nav {
  height: 100%;
  float: left;

  .depth1 {
    display: flex;
    align-items: center;
    height: 100%;
    > li {
      @include gnblistWebSize;
      > div {
        > a {
          padding: 7px 12px;
        }
        &.hover {
          > a {
            background: #000;
            border-radius: 16px;
            color: #fff;
          }
        }
      }
    }
    .open {
      .open {
        opacity: 1;
        z-index: 5;
      }
    }
  }
}

.router-nav.homefit .swiper-slide {
  margin-right: 60px;
}

.router-nav.homefit .swiper-slide.active::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #000;
  content: '';
  width: calc(100% - 2px);
}

.depth2_wrapper {
  @include nav_hover_bg;
  opacity: 1;
  width: 100%;
  background: transparent;
  transition-delay: 0.1s;
  z-index: 8;

  .depth2_inner {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 24px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s 0.1s;

    .title {
      line-height: 80px;
      color: #000;
      font-size: 32px;
      font-weight: 700;
    }

    .depth2 {
      position: relative;
      width: 260px;
      li {
        display: flex;
        align-items: center;
        padding-right: 32px;
        height: 55px;
        color: #000;
        font-size: 18px;
        > a {
          margin-right: auto;
          font-weight: 500;
        }
        &.active {
          > a {
            font-weight: 700;
          }
          li {
            a {
              &:hover {
                font-weight: 700;
              }
            }
          }
        }
        .arrow {
          float: right;
          width: 24px;
          height: 24px;
          opacity: 0;
          transform: translateX(-5px);
          background: url('../assets/icons/icon_regular_navigation_next.png');
          background-position: center;
          background-size: cover;
          transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.15s,
            opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
        }

        .depth3_wrapper {
          visibility: hidden;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 352px;
          right: 0;
          width: 424px;
          .depth3_inner {
            opacity: 0;
            transform: translateX(-30px);
            transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.25s,
              opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.25s,
              -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
          }
        }
      }
    }

    .photo_wrapper {
      position: absolute;
      right: 0;
      top: 88px;
      width: 497px;
      padding: 0 83px;
      border-left: 1px solid #ddd;

      img {
        opacity: 0;
        width: 330px;
        transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
      }

      .desc {
        padding: 24px 8px;
        p {
          margin-bottom: 16px;
          font-size: 18px;
          font-weight: 700;
        }
        span {
          font-size: 14px;
        }
      }
    }

    .depth2_close {
      position: absolute;
      right: 24px;
      top: 36px;
      width: 24px;
      height: 24px;
      background-image: url('../assets/icons/icon_bold_action_delete.png');
      background-size: cover;
    }
  }

  &.open {
    opacity: 1;
    height: 672px;
    .depth2 {
      > li {
        .arrow {
          opacity: 1;
          transform: translateX(0);
          transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.3s,
            opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
        }
      }
    }
    .depth2_inner {
      visibility: visible;
      &.open {
        opacity: 1;
        transition: opacity 0.3s 0.1s;
        .active {
          .depth3_wrapper {
            visibility: visible;
            .depth3_inner {
              opacity: 1;
              transform: translateX(0px);
            }
          }
        }
        .photo_wrapper {
          img {
            opacity: 1;
            transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
          }
        }
      }
    }
  }
  > li {
    opacity: 0;
  }
}

.depth2_Bg {
  @include nav_hover_bg;
  opacity: 1;
  width: 100%;
  background: #fff;
  transition-delay: 0.1s;
  z-index: 6;

  &.open {
    opacity: 1;
    height: 672px;
  }
}

.nav_dim {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  z-index: -1;
  transition-delay: 0.1s;
  &.open {
    display: block;
    opacity: 0.68;
    z-index: 5;
    transition-delay: 0.1s;
  }
}
.icons_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  z-index: 50;
  transition: opacity 0.3s ease;

  &.on {
    display: block;
    opacity: 1;
  }
}

.nav_slide {
  display: flex;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  height: 100%;
  z-index: 55;
  transform: translateX(360px);
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1),
    -webkit-transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
  &.on {
    transform: translateX(0);
  }
  .slide_remove {
    position: absolute;
    right: 24px;
    top: 15px;
    width: 24px;
    height: 24px;
    background-image: url('../assets//icons/icon_bold_action_delete.png');
    background-size: cover;
  }
}

.nav_slide_wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 54px 24px 0;
  z-index: 11;
  .nav_slide_main,
  .nav_slide_sub {
    float: none;
    .slider_gnb_main {
      display: block;
      visibility: hidden;
      width: 100%;
      height: auto;
      opacity: 0;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      > li {
        display: table;
        width: 100%;
        height: auto;
        > a {
          overflow: hidden;
          position: relative;
          display: table-cell;
          left: 0;
          width: 100%;
          height: 56px;
          padding-right: 40px;
          border-radius: 0;
          color: #000;
          font-weight: normal;
          font-size: 20px;
          vertical-align: middle;
          opacity: 1;
          transform: translateX(0);
          transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1),
            opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
          &:hover {
            font-weight: bold;
          }
          &:after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            display: block;
            clear: both;
            width: 16px;
            height: 16px;
            background-image: url('../assets/icons/icon_regular_navigation_next.png');
            background-size: cover;
          }
        }
        .slide_gnb {
          overflow: hidden;
          position: fixed;
          left: auto;
          right: 0;
          top: 0;
          bottom: 0;
          width: 360px;
          background: #fff;
          z-index: 22;
          transform: translateX(360px);
          transition: -webkit-transform 0.3s cubic-bezier(0.6, 0, 0.4, 1) 0.05s;
          transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1) 0.05s;
          transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1) 0.05s,
            -webkit-transform 0.3s cubic-bezier(0.6, 0, 0.4, 1) 0.05s;
          .slide_btn_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
            height: 56px;
            .slide_remove_btn,
            .slide_back_btn {
              width: 24px;
              height: 24px;
              background-image: url('../assets/icons/icon_bold_navigation_backward.png');
              background-size: cover;
            }
            .slide_remove_btn {
              background-image: url('../assets/icons/icon_bold_action_delete.png');
            }
          }
          h5 {
            cursor: pointer;
            padding: 10px 10px 10px 24px;
            font-size: 24px;
            font-weight: 700;
            color: #000;
            a {
              position: relative;
              display: inline-block;
              &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 100%;
                width: 0;
                margin-top: 2px;
                border-bottom: 2px solid #000;
                transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                  width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
              }
              &:hover {
                &:after {
                  left: 0%;
                  width: 100%;
                }
              }
            }
          }

          .slide_gnb_depth2 {
            visibility: visible;
            padding: 0 24px;
            overflow: hidden;
            overflow-y: auto;
            position: relative;
            left: 0;
            bottom: 0;
            width: 360px;
            height: auto;
            transition-property: scrollTop;
            > li {
              padding: 16px 0;
              font-size: 18px;
              a {
                align-items: center;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                &:hover {
                  font-weight: 700;
                }
              }
              .depth3_wrapper {
                overflow: hidden;
                position: static;
                opacity: 0;
                height: 0;
                line-height: 66px;
                width: 100%;
                transform: translateX(0);
                border-bottom: 1px solid #ddd;
                transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                  opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                a {
                  text-indent: 16px;
                  font-size: 16px;
                }
              }
              .close {
                width: 16px;
                height: 16px;
                background-image: url('../assets//icons/icon_bold_navigation_open_down.png');
                background-size: cover;
              }
              &.open {
                > a {
                  font-weight: 700;
                }
                .depth3_wrapper {
                  height: 66px;
                  opacity: 1;
                }
                .close {
                  width: 16px;
                  height: 16px;
                  background-image: url('../assets//icons/icon_bold_navigation_close_up.png');
                  background-size: cover;
                }
              }
            }
          }
        }
      }
      &.on {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
        &.first {
          &:before {
            display: none;
          }
        }
        &:before {
          content: '';
          display: block;
          height: 1px;
          margin: 16px 0;
          background: #ddd;
          opacity: 1;
        }
      }
      &.first {
        > li {
          &:first-child {
            > a {
              &:after {
                display: none;
              }
            }
          }
        }
      }
      &.noarrow {
        > li {
          > a {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  &.slide {
    .nav_slide_main,
    .nav_slide_sub {
      .slider_gnb_main {
        > li {
          > a {
            transform: translateX(-180px);
            opacity: 0;
            transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
            transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1),
              opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
            transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1),
              opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
          }
        }
        &.on {
          &:before {
            opacity: 0;
            transform: translateX(-180px);
          }
          .open {
            transform: translateX(0);
            // opacity: 1;
          }
        }
      }
    }
    .open {
      transform: translateX(0px);
      > li {
        position: relative;
        padding: 0;
        width: 100%;
        padding: 0;
        font-size: 18px;
        opacity: 1;
      }
    }
    .depth2_desc_container,
    .depth2_image_container {
      visibility: visible;
      opacity: 1;
    }
  }
}

.depth2_image_container {
  width: auto;
  margin-top: 48px;
  padding: 0 24px;
  border: 0 none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;

  img {
    cursor: pointer;
    width: 312px;
    height: 312px;
  }
}

.depth2_desc_container {
  margin-top: 16px;
  padding: 0 24px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: #000;
    }
  }
}
//router navigation
.router-nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 6px 21px -17px;
  z-index: 5;
  .router-nav_wrapper {
    margin: 0 auto;
    padding: 0 24px 0 32px;
    max-width: 1440px;
    line-height: 56px;
    .swiper-slide {
      width: auto;
    }
    h4 {
      float: left;
      font-size: 16px;
      font-weight: 700;
    }
    a {
      font-size: 14px;
    }
    .router-nav_list {
      display: flex;
      float: right;
      flex-direction: row;
      &.display {
        display: flex;
      }
    }
  }
}

#main {
  position: relative;
  overflow: hidden;
}

section {
  position: relative;
}
//footer

@include hoverNav {
  #header {
    .bg.open {
      opacity: 1;
      height: 44.1vw;
    }
  }
  nav {
    ul {
      .open {
        .depth2 {
          opacity: 1;
          height: 44vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .nav_slide {
    transition: none;
    &.on {
      transform: translateX(360px);
    }
  }
  .icons_bg.on {
    display: none;
  }
}
@media only screen and (max-width: 1279px) {
  .nav_slide:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
  }
}

@include navfontsizeBeforeDestroy {
  #header {
    .sub_gnb_wrapper {
      .sub_gnb {
        @include gnblisttabletSize;
      }
    }
  }
  #nav {
    .depth1 {
      > li {
        @include gnblisttabletSize;
      }
    }
  }
}

@include navDestroy {
  #header {
    .header_inner {
      .logo {
        margin-right: 0;
      }
    }
    nav {
      display: none;
    }
    .sub_gnb_wrapper {
      .sub_gnb {
        display: none;
      }
    }
    .icons {
      button {
        &.profile {
          display: none;
        }
        &.hamburger {
          display: block;
          margin: 0;
        }
      }
    }
  }
  .depth2_Bg.open,
  .nav_dim.open {
    display: none;
  }
}
.web,
.web_img {
  display: block !important;
}
.mobile,
.mobile_img {
  display: none !important;
}

.web_inline {
  display: inline-block !important;
}

.router_path_wrapper {
  width: 100%;
  .router_path_inner {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 18px 24px;
    @include sectioninner;
    span {
      position: relative;
      display: inline-block;
      font-size: 14px;
      padding: 0 20px 0 4px;
      &:first-child {
        padding: 0 20px 0 0;
      }
      &:last-child {
        color: #8f8f8f;
        font-weight: bold;
        &::after {
          display: none;
        }
      }
      &::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('../assets/icons/icon_bold_navigation_next_gray.png');
        background-size: cover;
      }
    }
  }
}

@include B768-1440 {
  .section_inner {
    max-width: unset;
    width: 100%;
  }
  .router_path_wrapper {
    .router_path_inner {
      span {
        font-size: 0.9722222vw;
        padding: 0 1.3vw 0 4px;
        &:first-child {
          padding: 0 1.3vw 0 0;
        }
        &:last-child {
          color: #8f8f8f;
          font-weight: bold;
          &::after {
            display: none;
          }
        }
        &:after {
          width: 1.1111vw;
          height: 1.1111vw;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@include B767 {
  .web,
  .web_img {
    display: none !important;
  }
  .mobile,
  .mobile_img {
    display: block !important;
  }
  .web_inline {
    display: none !important;
  }
  #header {
    border-bottom: none;
    .icons {
      button {
        margin-right: 14px;
      }
    }
  }

  .router-nav {
    .router-nav_wrapper {
      padding: 0 12s;
      .swiper-container {
        overflow: inherit;
      }
    }
  }
  .router-nav.homefit .swiper-slide {
    margin-right: 6.6667vw;
    font-size: 3.8889vw;
    &:last-child {
      margin: 0;
    }
  }

  .router_path_wrapper {
    .router_path_inner {
      padding: 4vw 24px;
      span {
        font-size: 14px;
        padding: 0 4.444444vw 0 1vw;
        &:first-child {
          padding: 0 4.444444vw 0 0;
        }
        &:last-child {
          margin-top: 0.5vw;
          padding: 0;
          display: block;
        }
      }
    }
  }
}

@include tablet {
  .router-nav {
    text-align: center;
    h4 {
      float: initial;
    }
    .router-nav_list {
      width: 100%;

      &.display {
        display: flex;
      }
    }
  }
}

.none {
  display: none !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}
