@import './scss/breakpoints';

$blue-color: #2189ff;

@mixin SansBold {
  font-family: 'SamsungOneSharpSans';
  font-weight: bold;
}
@mixin nav_hover_bg {
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
  z-index: 2;
}
@mixin link {
  color: #2189ff;
  text-decoration: underline;
}
@mixin gnblistWebSize {
  font-size: 14px;
  font-weight: 700;
}
@mixin gnblisttabletSize {
  font-size: 0.97222222vw;
}

@mixin btn787 {
  padding: 2.5vw 4.55555vw;
  font-size: 3.3333333vw;
  border-radius: 5.55555vw;
}

@mixin sectioninner {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin contentsWrapper {
  padding: 0 24px;
}

@mixin radius_card {
  border-radius: 20px;
  background: #ccc;
}

@mixin CircleButton {
  padding: 9px 20px;
  border-radius: 20px;
  font-size: 14px;
}

@mixin afterLine {
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  content: '';
  width: 100%;
}

@mixin mainSubNav {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    cursor: pointer;
    position: relative;
    margin-right: 48px;
    font-size: 18px;
    font-weight: 700;
    &:first-child {
      &:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-1440 - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin navDestroy {
  @media (max-width: #{$breakpoint-1280 - 1px}) {
    @content;
  }
}

@mixin navfontsizeBeforeDestroy {
  @media (min-width: #{$breakpoint-1280}) and (max-width: #{$breakpoint-1440}) {
    @content;
  }
}

@mixin B767 {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin B768-1440 {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-1440}) {
    @content;
  }
}

@mixin hoverNav {
  @media (min-width: #{$breakpoint-hovermin}) and (max-width: #{$breakpoint-1440 - 1px}) {
    @content;
  }
}
