@charset "UTF-8";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SamsungOne', 'Malgun-Gothic', Arial, sans-serif;
}

:root {
  font-size: 10px;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
}

body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/*clearfix*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* a 링크 초기화 */
a {
  color: #000;

  text-decoration: none;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
  font-family: 'SamsungOne', 'Malgun-Gothic', dotum, '돋움', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

fieldset {
  border: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

em,
address {
  font-style: normal;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  font-weight: normal;
}

/* IR 효과 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
/* margin, padding */
.mt1 {
  margin-top: 1px !important;
}
.mt2 {
  margin-top: 2px !important;
}
.mt3 {
  margin-top: 3px !important;
}
.mt4 {
  margin-top: 4px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt16 {
  margin-top: 16px !important;
}
.mt22 {
  margin-top: 22px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mt50 {
  margin-top: 50px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb38 {
  margin-bottom: 38px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

@font-face {
  font-family: 'SamsungOne';
  font-weight: 400;
  src: url('../assets/font/SamsungOneUI-400.845b6745.woff2') format('woff2');
}

@font-face {
  font-family: 'SamsungOne';
  font-weight: 600;
  src: url('../assets/font/SamsungOneUI-600.65950013.woff') format('woff');
}

@font-face {
  font-family: 'SamsungOne';
  font-weight: 700;
  src: url('../assets/font/SamsungOneUI-700V3.0.367e5d62.woff2') format('woff2');
}
