@import 'scss/mixins.scss';

.store_nav {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 4;
  .sub_nav {
    width: 100%;

    background: #f7f7f7;
    ul {
      margin: 0 auto;
      padding: 0 24px;
      max-width: 1440px;
      display: flex;
      align-items: center;
      height: 40px;
    }
    li {
      cursor: pointer;
      margin-right: 40px;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
.nav_option_wrapper {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 72px;
  background: #fff;
}
.option_title {
  font-size: 24px;
  margin-right: auto;
}

.option_costs {
  font-size: 18px;
}
.option_cart {
  position: relative;
  margin-left: 56px;
  a {
    padding: 10px 40px;
    color: #fff;
    font-size: 14px;
    background-color: #2189ff;
    border-radius: 20px;
  }
  &.margin {
    margin-top: 10px;
    margin-left: 0;
  }
}

.option_arrow_btn {
  position: absolute;
  right: 35.333333vw;
  top: 5.8vw;
  width: 4.4444vw;
  height: 4.44444vw;
  background-image: url('../assets/icons/icon_bold_navigation_open_down.png');
  background-size: cover;
}

// .section_second_product_slider {
//   width: 600px;
//   margin: 0 auto;
// }
.hometraining_main {
  padding-bottom: 18px;
  .first_section_inner {
    padding: 0 24px;
  }

  .desc_wrapper,
  .option_wrapper,
  .payment-desc_wrapper,
  .together-desc_wrapper,
  .slider_wrapper,
  .total_cost_wrapper {
    padding: 0 48px;
    float: right;
    width: 50%;
  }
  .desc_wrapper {
    margin-top: 85px;
    position: relative;
    .button_wrapper {
      position: absolute;
      top: -43px;
      right: 48px;
      display: flex;
      a {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../assets/icons/icon_regular_action_share.png');
        background-size: cover;
      }
      .heart {
        margin-left: 30px;
        background-image: url('../assets/icons/icon_regular_action_wishlist_unselect.png');
      }
    }
    h4 {
      font-size: 24px;
    }
    p {
      margin-top: 10px;
      font-size: 18px;
    }
    .product_id {
      display: inline-block;
      margin-top: 10px;
      font-size: 12px;
    }
    .rate {
      font-size: 14px;
    }
    .star_wrapper {
      margin-top: 18px;
      display: flex;
      align-items: center;
      ul {
        margin-right: 8px;
        display: flex;
      }
      li {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        background-image: url('../assets/icons/icon_bold_action_star_rating_01.png');
        background-size: cover;
        &:last-child {
          margin-right: 0;
          background-image: url('../assets/icons/icon_bold_action_star_rating_02.png');
        }
      }
    }
  }
  .img_wrapper {
    float: left;
    width: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .option_wrapper {
    margin-top: 37px;

    h3 {
      font-size: 18px;
    }
    .option_cost_select {
      margin-top: 16px;
      .option_cost_inner {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        border: 1px solid #ddd;
        border-radius: 6px;
        height: 52px;
        padding: 16px 24px;
        font-size: 14px;
        &.activeIndex {
          border: 1px solid #2189ff;
          font-weight: 700;
          &:after {
            position: absolute;
            left: -2px;
            top: -2px;
            content: '';
            display: block;
            border-radius: 6px;
            width: 100%;
            height: 100%;
            border: 2px solid #2189ff;
          }
        }
        &:nth-child(2) {
          margin: 16px 0;
        }
      }
    }
  }
  .together-desc_wrapper,
  .payment-desc_wrapper {
    clear: right;
    margin-top: 31px;
    &:last-child {
      margin-top: 38px;
    }
    h5 {
      font-size: 18px;
    }
    ul {
      float: left;
      width: 100%;
    }
    li {
      background-image: url('../assets/icons/icon_bold_information_bullet.png');
      background-repeat: no-repeat;
      background-position: left 4px;
      background-size: 12px;
      padding-left: 14px;
      font-size: 14px;
      &:last-child {
        margin-top: 1px;
      }
    }
    span {
      display: inline-block;
      font-size: 14px;
    }
  }
  .total_cost_wrapper,
  .slider_wrapper {
    clear: right;
  }

  .slider_wrapper {
    .swiper-container {
      padding: 3px;
    }
    margin-top: 16px;
    .swiper-slide {
      position: relative;
      cursor: pointer;
      max-width: 330px;
      border: 1px solid #dddddd;
      border-radius: 20px;
      &.active {
        border: 1px solid #2189ff;
        &:after {
          position: absolute;
          left: -2px;
          top: -2px;
          content: '';
          display: block;
          border-radius: 20px;
          width: 100%;
          height: 100%;
          border: 2px solid #2189ff;
        }
      }
      .swiper-slide-inner {
        padding: 24px 33px 33px;
        text-align: center;
        span {
          display: block;
          font-size: 12px;
          &.now {
            font-size: 16px;
          }
          &.sale {
            text-decoration: line-through;
          }
        }
        .title {
          display: flex;
          height: 44px;
          justify-content: center;
          align-items: center;
          &.mobile_title {
            display: none;
          }
        }
        h5 {
          font-size: 16px;
          line-height: 1.2;
        }

        figure {
          margin: 12px 0 15px;
          width: 100%;
          padding: 0 57px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .total_cost_wrapper {
    margin-top: 32px;

    .option_cost {
      padding: 24px 0;
      background-color: #f7f7f7;
      text-align: center;
      font-size: 28px;
      font-weight: 700;
    }
  }

  .section_second_inner {
    margin-top: 48px;
    text-align: center;
    h3 {
      font-size: 48px;
    }
    p {
      margin: 11px 0 16px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
    }
    span {
      font-size: 18px;
    }
    figure {
      margin-top: 32px;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.swiper-scrollbar {
  margin: 46px 0 16px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.swiper-scrollbar-drag {
  border-radius: 2px;
}

@include B768-1440 {
  .option_title {
    font-size: 1.82778vw;
  }
  .option_cost {
    font-size: 1.25vw;
  }
  .option_cart {
    a {
      font-size: 0.9722222vw;
      padding: 10px 2.4vw;
    }
  }
  .hometraining_main {
    .desc_wrapper {
      h4 {
        font-size: 1.82778vw;
      }
      p {
        margin-top: 0.777777vw;
        font-size: 1.25vw;
      }
      .product_id {
        margin-top: 0.777777vw;
        font-size: 0.9722222vw;
      }
      .desc_wrapper {
        margin-top: 1.25vw;
        span {
          font-size: 0.9722222vw;
        }
      }
    }

    .option_wrapper {
      margin-top: 2.444444vw;
      h3 {
        font-size: 1.25vw;
      }
      .option_cost_select {
        margin-top: 1.1vw;
        .option_cost_inner {
          height: auto;
          font-size: 0.9722222vw;
          padding: 1vw 1.66666667vw;
          &:nth-child(2) {
            margin: 1vw 0;
          }
        }
      }
    }
    .together-desc_wrapper,
    .payment-desc_wrapper {
      h5 {
        font-size: 1.25vw;
      }
      li {
        background-position: left 0.1111111vw;
        background-size: 0.9722222vw;
        padding-left: 0.9722222vw;
        font-size: 0.9722222vw;
      }
    }
    .together-desc_wrapper {
      span {
        font-size: 0.9722222vw;
      }
    }
  }

  .hometraining_main {
    .slider_wrapper {
      margin-top: 16px;
      .swiper-slide {
        width: 22.66666vw;
        .swiper-slide-inner {
          padding: 1.66666667vw 2.333333vw 2.333333vw;
          .title {
            height: 3vw;
          }
          h5 {
            font-size: 1.15vw;
          }
          span {
            font-size: 0.9722222vw;
            &.now {
              font-size: 1.1111vw;
            }
          }
        }
      }
    }
  }
}

@include B767 {
  .hometraining_main {
    padding-bottom: 13.4444444vw;
  }
  .store_nav {
    border-bottom: 1px solid #ebebeb;
    height: 22.2222222vw;
    .sub_nav {
      display: none;
    }
  }
  .nav_option_wrapper {
    padding-top: 10px;
    height: auto;
  }

  .option_title {
    width: 50vw;
    font-size: 4.444444vw;
    line-height: 5.833333vw;
  }

  .option_costs {
    font-size: 18px;
    display: none;
  }
  .option_cart {
    margin-left: 0;
    &.option_cart_top {
      position: absolute;
      top: 3.666666vw;
      right: 24px;
    }
    a {
      padding: 2.5vw 4.55555vw;
      font-size: 3.3333333vw;
      border-radius: 5.55555vw;
    }
    &.margin {
      margin-top: 10px;
      margin-left: 0;
    }
  }
  .hometraining_main {
    .first_section_inner {
      padding: 0 24px;
    }

    .desc_wrapper,
    .option_wrapper,
    .payment-desc_wrapper,
    .together-desc_wrapper,
    .slider_wrapper,
    .total_cost_wrapper,
    .img_wrapper {
      float: inherit;
      width: 100%;
      padding: 0;
    }

    .desc_wrapper {
      margin-top: 3.33333vw;
      .button_wrapper {
        position: absolute;
        top: 8px;
        right: 0;
        display: flex;

        .heart {
          margin-left: 4.444444vw;
          background-image: url('../assets/icons/icon_regular_action_wishlist_unselect.png');
        }
      }
      h4 {
        width: 55vw;
        font-size: 6.111111vw;
        line-height: 1.1;
      }
      p {
        margin-top: 2vw;
        font-size: 5vw;
      }
      .product_id {
        margin-top: 0;
        font-size: 3.3333vw;
      }
      .rate {
        font-size: 14px;
      }
      .star_wrapper {
        margin-top: 1.5vw;
      }
    }

    .img_wrapper {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .option_wrapper {
      margin-top: 3.33333333vw;

      h3 {
        font-size: 3.8888888vw;
      }
      .option_cost_select {
        margin-top: 16px;
        .option_cost_inner {
          height: 13.33333vw;
          padding: 16px 4.444444vw;
          // font-size: 3.3333333vw;
          font-size: 11px;
          height: auto;
          &.activeIndex {
            border: 2px solid #2189ff;
            font-weight: 700;
            font-size: 11px;
          }
          &:nth-child(2) {
            margin: 2.22222vw 0;
          }
        }
      }
    }
    .together-desc_wrapper,
    .payment-desc_wrapper {
      clear: none;
      margin-top: 13.33333vw;
      padding: 0 1vw;
      &:last-child {
        margin-top: 13.33333vw;
      }
      h5 {
        font-size: 3.888888vw;
      }
      ul {
        margin-top: 3.888888vw;
        float: left;
        width: 100%;
      }
      li {
        background-position: left 0.8888888vw;
        background-size: 3.3333333vw;
        padding-left: 4.444444vw;
        font-size: 3.3333333vw;
        &:last-child {
          margin-top: 1vw;
        }
      }
      span {
        margin-top: 2vw;
        font-size: 3.3333333vw;
      }
    }
    .total_cost_wrapper,
    .slider_wrapper {
      clear: none;
    }

    .slider_wrapper {
      .swiper-container {
        padding: 3px;
      }
      margin-top: 16px;
      .swiper-slide {
        max-width: auto;
        width: calc(50% - 12px);
        border: 1px solid #dddddd;
        border-radius: 20px;
        box-sizing: border-box;

        .swiper-slide-inner {
          padding: 6.6666666vw 3.333333vw 6.6666666vw 3vw;
          text-align: center;
          span {
            display: block;
            font-size: 12px;
            &.now {
              font-size: 16px;
            }
            &.sale {
              text-decoration: line-through;
            }
          }
          .title {
            display: flex;
            justify-content: center;
            align-items: center;
            &.mobile_title {
              display: flex;
            }
            &.web_title {
              display: none;
            }
            margin-bottom: 1vw;
          }
          h5 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
          }
          figure {
            margin: 2vw 0 5.555555vw;
            width: 100%;
            padding: 0;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .total_cost_wrapper {
      margin-top: 10vw;

      .option_cost {
        padding: 6.444444vw 0;
        font-size: 5.333333vw;
        font-weight: 700;
        p {
          font-size: 3.2222222vw;
          font-weight: 400;
        }
        .option_cart {
          padding: 0 10vw;
        }
        a {
          margin-top: 3.33333333vw;
          display: block;
          font-size: 3.888888vw;
        }
      }
    }
    .section_second_inner {
      margin-top: 10vw;

      h3 {
        font-size: 10vw;
        line-height: 1.2;
      }
      p {
        padding: 0 24px;
        margin: 3.333333vw 0;
        font-size: 3.888888vw;

        font-weight: 600;
      }
      span {
        padding: 0 24px;
        display: inline-block;
        font-size: 3.888888vw;
      }
      figure {
        margin-top: 32px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .swiper-scrollbar {
    display: block !important;
    margin: 46px 0 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .swiper-scrollbar-drag {
    width: 121px !important;
    border-radius: 2px;
  }
}
