@import 'scss/mixins.scss';

.first-slider {
  max-width: 1920px;
  font-size: 0;
  &.pause {
    .swiper-pagination-bullet-active {
      .activebar {
        animation-play-state: paused;
      }
    }
  }
  &.white {
    .slider-button-wrapper {
      .slider-button-inner {
        .swiper-pagination-bullet-active {
          .activebar {
            background: #fff;
          }
        }

        .swiper-pagination_desc {
          color: #fff;
        }
      }
    }
  }
  .swiper-slide {
    .swiper-slide-inner {
      font-size: 20px;
      position: relative;
      height: 100%;
      video {
        width: 100%;
        height: 100%;
        background: #000;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .slider-button-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;
    .slider-button-inner {
      display: flex;

      .swiper-pagination-bullets {
        position: relative;
      }

      .swiper-pagination-bullet {
        position: relative;
        display: inline-block;
        width: 7.9166667vw;
        // width: 114px;
        height: 100%;
        margin: 0 8px;
        vertical-align: bottom;
        border-radius: 0;
        background: none;
        opacity: 1;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.3);
        }
        .swiper-pagination_desc {
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 100%;
        }
      }
      .swiper-pagination-bullet-active {
        .activebar {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          background: #000;
          animation-name: slider-progress;
          animation-duration: 4.5s;
        }
      }

      .swiper-pagination_desc {
        font-size: 14px;
        font-weight: 700;
        color: black;
      }

      .swiper-btn {
        margin-left: 10px;
      }
    }
  }
}

.title_wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 100%;
  max-width: 1440px;
  padding-top: 48px;
  h3 {
    position: relative;
    width: 100%;
    max-width: 1392px;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
  }
}

.main-second-section {
  margin-bottom: 50px;
}

.second-section-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  li {
    position: relative;
    margin-right: 48px;
    font-size: 18px;
    font-weight: 700;
    &:first-child {
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.second-section-gallery_wrapper {
  margin: 56px auto 32px;
  max-width: 1440px;
}
.second-section-gallery {
  display: flex;
  margin: 0 auto;
  max-width: 1416px;
  height: 708px;
  overflow: hidden;

  .left {
    flex: 1;
    padding: 0 24px 24px 0;
    figure {
      border-radius: 20px;
      background-color: #f4f4f4;
      overflow: hidden;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    flex: 1;
    .right_box {
      position: relative;
      float: left;
      width: 50%;
      height: 50%;
      padding: 0 24px 24px 0;
    }
    .right-img_wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 40px 85px 130px 85px;
      background-color: #f4f4f4;
      border-radius: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .desc_wrapper {
      bottom: 0;
      left: 0;
      position: absolute;
      bottom: 72px;
      width: 298px;
      margin-left: 16px;
      text-align: center;
      span {
        margin-top: 10px;
        display: block;
        font-size: 12px;
      }
      .desc {
        margin-top: 0;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.third-section-gallery {
  font-size: 0;
  max-width: 1440px;
  margin: 0 auto;
  .img_wrapper {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@include mobile {
  .first-slider {
    .swiper-slide {
      height: -moz-calc(100% - (50px + 30px));
      height: -webkit-calc(100% - (50px + 30px));
      height: calc(100% - (50px + 30px));
    }
  }
}

@include B768-1440 {
  .title_wrapper {
    h3 {
      font-size: 2.63888889vw;
    }
  }
  .second-section-nav {
    li {
      font-size: 1.25vw;
      padding-top: 0.27777778vw;
      padding-bottom: 0.27777778vw;
      margin-right: 3.33333333vw;
    }
  }
  .second-section-gallery_wrapper {
    height: 54.86111111vw;
  }
  .second-section-gallery {
    max-width: 98.33333333vw;
    height: 49.16666667vw;
    .left {
      padding: 0vw 1.66666667vw 1.66666667vw 1.66666667vw;
    }
    .right {
      .right_box {
        padding: 0vw 1.66666667vw 1.66666667vw 0vw;
      }
      .right-img_wrapper {
        padding: 2.77777778vw 5.90277778vw 9.02777778vw 5.90277778vw;
      }
      .desc_wrapper {
        bottom: 5vw;
        width: 20.69444444vw;
        margin-left: 0.91111111vw;
        span {
          font-size: 10px;
        }
        .desc {
          max-width: 20.69444444vw;
          max-height: 3.33333333vw;
          font-size: 1.25vw;
        }
      }
    }
  }
}

@include B767 {
  .title_wrapper {
    h3 {
      font-size: 7.22222222vw;
    }
  }
  .main-second-section {
    overflow: hidden;
  }
  .second-section-gallery {
    width: 91.11111111vw;
    flex-direction: column;
    height: auto;
    .left {
      padding: 0;
    }
  }
  .second-section-nav {
    margin: 0 auto;
    display: -webkit-box;
    width: 91.11111111vw;
    li {
      font-size: 3.88888889vw;
      white-space: nowrap;
      &.active {
        margin-left: 1.46666667vw;
      }
    }
  }
  .second-section-gallery {
    .left {
      padding: 0vw 1.66666667vw 1.66666667vw 1.66666667vw;
    }
    .right {
      padding: 0vw 1.66666667vw 1.66666667vw 1.66666667vw;

      .right_box {
        width: 50%;
        height: 33.333333%;
        padding: 0vw 4.44444444vw 4.44444444vw 0vw;
        &:nth-child(2n) {
          margin: 0;
        }
      }
      .right-img_wrapper {
        width: 41.11111111vw;
      }
    }
  }
}

@keyframes slider-progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
