@import 'scss/mixins.scss';

.first-slider {
  max-width: 1920px;
  .swiper-button-prev,
  .swiper-button-next {
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: block;
    font-size: 0;
    width: 36px;
    height: 36px;
    background-image: url('../assets/icons/icon_regular_navigation_nextw.png');
    background-size: cover;
  }
  .swiper-button-prev:after {
    background-image: url('../assets/icons/icon_regular_navigation_previous.png');
  }
  .swiper-wrapper {
    font-size: 0;
  }
  .swiper_btn {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-image: url('../assets/icons/icon_bold_media_pause.png');
  }
  .main_slider_desc {
    position: absolute;
    left: 88px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    p {
      font-size: 48px;
      font-weight: bold;
      line-height: 1.2;
    }
    span {
      font-size: 18px;
    }
  }
  &.pause {
    .swiper_btn {
      background-image: url('../assets/icons/icon_bold_media_play.png');
    }
    .swiper-pagination-bullet-active {
      .activebar {
        animation-play-state: paused;
      }
    }
  }
  &.white {
    .slider-button-wrapper {
      .slider-button-inner {
        .swiper-pagination-bullet {
          &:before {
            background-color: rgba(255, 255, 255, 0.25);
          }
        }
        .swiper-pagination-bullet-active {
          .activebar {
            background: #fff;
          }
        }

        .swiper-pagination_desc {
          color: #fff;
        }
      }
    }
  }
  .swiper-slide {
    .swiper-slide-inner {
      font-size: 20px;
      position: relative;
      height: 100%;
      video {
        width: 100%;
        height: 100%;
        background: #000;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .slider-button-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;
    .slider-button-inner {
      display: flex;

      .swiper-pagination-bullets {
        position: relative;
        white-space: nowrap;
      }

      .swiper-pagination-bullet {
        position: relative;
        display: inline-block;
        // width: 7.9166667vw;
        width: 160px;
        height: 100%;
        margin: 0 8px;
        vertical-align: bottom;
        border-radius: 0;
        background: none;
        opacity: 1;

        &:before {
          content: '';
          position: absolute;
          bottom: 15px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.3);
        }
        .swiper-pagination_desc {
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 100%;
        }
      }
      .swiper-pagination-bullet-active {
        .activebar {
          position: absolute;
          bottom: 15px;
          left: 0;
          height: 2px;
          background: #000;
          animation-name: slider-progress;
          animation-duration: 5s;
        }
      }

      .swiper-pagination_desc {
        font-size: 14px;
        font-weight: 700;
        color: black;
      }

      .swiper-btn {
        margin-left: 10px;
      }
    }
  }
}

.main-section_inner {
  &:nth-child(3) {
    background-image: url('../assets/main/image_tvav_bg.png');
    background-size: cover;
    color: #fff;
    .third-section-nav {
      li {
        &:first-child {
          &:after {
            background: #fff;
          }
        }
      }
    }
    .button_wrapper {
      button {
        color: #fff;
        &:first-child {
          &:after {
            background: #fff;
          }
        }
      }
    }
  }
  &:nth-child(4) {
    background-image: url('../assets/main/image_appliance_bg.png');
    background-size: cover;
    padding: 48px 0;
    .desc {
      padding: 17px 0 0;
      h4 {
        line-height: 1.2;
      }
    }
    .button_wrapper {
      margin-top: 24px;
    }
  }

  padding: 48px 0;
  .title_wrapper {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 100%;
    max-width: 1440px;
    line-height: 1.25;
    text-align: center;
    h3 {
      position: relative;
      width: 100%;
      max-width: 1392px;
      margin: 0 auto;
      text-align: center;
      font-size: 38px;
      font-weight: bold;
    }
    span {
      margin-top: 10px;
      display: inline-block;
    }
  }
  .center_img {
    position: relative;
    margin: 0 auto;
    max-width: 743px;
    width: 52vw;

    img {
      width: 100%;
    }
  }
  .desc {
    padding: 22px 0;
    text-align: center;
    h4 {
      font-size: 48px;
      text-align: center;
      font-weight: 700;
    }
    span {
      font-size: 18px;
    }
  }
  .button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    button {
      font-weight: 700;
      position: relative;
      &:first-child {
        &:after {
          position: absolute;
          left: 0;
          bottom: 0;
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: #000;
        }
      }
      &:last-child {
        margin-left: 20px;
        padding: 11px 22px;
        border-radius: 20px;
        background: #000;
        color: #fff;
      }
    }
  }

  .flex_gallery {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    .left,
    .right {
      // float: right;
      flex-basis: calc(50% - 12px);
    }
    .left {
      // float: left;
      figure {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .right {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .img_wrapper {
        padding: 40px 16px 48px;
        flex-basis: calc(50% - 12px);
        background: #f7f7f7;
        border-radius: 20px;

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 24px;
        }

        figure {
          width: 100%;
          padding: 0 69px;
          img {
            height: 100%;
          }
        }
        .img_desc {
          margin-top: 8px;
          text-align: center;
          p {
            padding: 10.5px 0;
            margin-bottom: 8px;
            font-size: 18px;
            font-weight: 700;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.second-section-nav {
  @include mainSubNav;
}

.third-section-nav {
  @include mainSubNav;
  margin-bottom: 34px;
}

.third-section-gallery {
  font-size: 0;
  max-width: 1440px;
  margin: 0 auto;
  .img_wrapper {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@include mobile {
  .first-slider {
    .swiper-slide {
      height: -moz-calc(100% - (50px + 30px));
      height: -webkit-calc(100% - (50px + 30px));
      height: calc(100% - (50px + 30px));
    }
  }
}

@include B768-1440 {
  .first-slider {
    .slider-button-wrapper {
      .slider-button-inner {
        .swiper-pagination-bullet {
          width: 11.11111111vw;
        }
      }
    }
  }
}

@include B768-1440 {
  .title_wrapper {
    h3 {
      font-size: 2.63888889vw;
    }
  }
  .second-section-nav {
    li {
      font-size: 1.25vw;
      padding-top: 0.27777778vw;
      padding-bottom: 0.27777778vw;
      margin-right: 3.33333333vw;
    }
  }
  .second-section-gallery_wrapper {
    height: 54.86111111vw;
  }
  .second-section-gallery {
    max-width: 98.33333333vw;
    height: 49.16666667vw;
    .left {
      padding: 0vw 1.66666667vw 1.66666667vw 1.66666667vw;
    }
    .right {
      .right_box {
        padding: 0vw 1.66666667vw 1.66666667vw 0vw;
      }
      .right-img_wrapper {
        padding: 2.77777778vw 5.90277778vw 9.02777778vw 5.90277778vw;
      }
      .desc_wrapper {
        bottom: 5vw;
        width: 20.69444444vw;
        margin-left: 0.91111111vw;
        span {
          font-size: 10px;
        }
        .desc {
          max-width: 20.69444444vw;
          max-height: 3.33333333vw;
          font-size: 1.25vw;
        }
      }
    }
  }
}

@include B767 {
  .third-section-gallery {
    padding: 0 24px;
  }
  .main-section_inner {
    padding: 35px 0 38px;
    .third-section-nav {
      margin-top: 18px;
      display: -webkit-box;
      li {
        font-size: 3.88888888vw;
        margin-right: 34px;
      }
      margin-bottom: 16.22222222vw;
    }
    &:nth-child(3) {
      background-image: url('../assets/main/image_tvav_bg_mo.png');
      background-size: cover;
      color: #fff;
      .third-section-nav {
        li {
          &:first-child {
            &:after {
              background: #fff;
            }
          }
        }
      }
      .button_wrapper {
        button {
          color: #fff;
          &:first-child {
            &:after {
              background: #fff;
            }
          }
        }
      }
    }
    &:nth-child(4) {
      background-image: url('../assets/main/image_appliances_bg_mo.png');
      background-size: cover;
      padding: 48px 0;
      .desc {
        padding: 17px 0 0;
        width: 90vw;
      }
      .button_wrapper {
        margin-top: 24px;
      }
    }
    &:nth-child(5) {
      .title_wrapper {
        span {
          font-size: 3.33333333vw;
        }
      }
      .third-section-nav {
        margin-bottom: 7.55555555vw;
      }
    }
    &:nth-child(6) {
      .title_wrapper {
        span {
          width: 50vw;
          font-size: 3.33333333vw;
        }
      }
      .third-section-nav {
        margin-bottom: 7.55555555vw;
      }
    }
    .title_wrapper {
      margin: 0 auto;
      position: relative;
      display: block;
      width: 100%;
      max-width: 1440px;
      line-height: 1.25;
      text-align: center;

      h3 {
        font-size: 7.22222222vw;
      }
      span {
        margin-top: 10px;
        display: inline-block;
      }
    }
    .center_img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .flex_gallery {
      display: flex;
      justify-content: flex-start;
      padding: 0;
      flex-wrap: wrap;
      .left,
      .right {
        // float: right;
        flex-basis: auto;
        width: 100%;
      }
      .left {
        // float: left;
        figure {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      .right {
        margin-top: 4.4444444vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .img_wrapper {
          padding: 8.4444444vw 5px 3.88888888vw;
          flex-basis: calc(50% - 2.2222222vw);

          &:nth-child(1),
          &:nth-child(2) {
            margin-bottom: 4.4444444vw;
          }

          figure {
            width: 100%;
            padding: 0 7vw;
            img {
              height: 100%;
            }
          }
          .img_desc {
            margin-top: 8px;
            text-align: center;
            p {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              height: 10vw;
              margin-bottom: 0;
              font-size: 3.333333vw;
              font-weight: 700;
            }
          }
        }
      }
    }
    .desc {
      padding: 25.4444444vw 0 2vw;
      width: 45vw;
      margin: 0 auto;
      h4 {
        font-size: 8.55555555vw;
        line-height: 1.2;
      }
      span {
        margin-top: 1vw;
        display: inline-block;
        width: 70vw;
        font-size: 3.888888888vw;
      }
    }
    .button_wrapper {
      flex-direction: column-reverse;
      button {
        font-weight: 700;
        position: relative;
        font-size: 3.888888vw;
        margin-bottom: 1vw;
        &:last-child {
          margin-bottom: 4.888888888vw;
          margin-left: 0;
          padding: 10px 24px;
          border-radius: 20px;
          background: #000;
          color: #fff;
        }
      }
    }
  }

  .first-slider {
    .swiper_btn {
      width: 4.44444vw;
      height: 4.444444vw;
      margin: 0 2.22222vw;
    }
    &.white {
      .slider-button-wrapper {
        .slider-button-inner {
          .swiper-pagination-bullet-active {
            .activebar {
              background: #fff;
            }
          }

          .swiper-pagination_desc {
            color: #fff;
          }
        }
      }
    }
    .swiper-slide {
      .swiper-slide-inner {
        font-size: 20px;
        position: relative;
        height: 100%;
        video {
          width: 100%;
          height: 100%;
          background: #000;
        }
        img {
          max-width: 100%;
        }
      }
    }
    .slider-button-wrapper {
      padding: 2vw 0;
      border-radius: 4.444444vw;
      background: rgba(0, 0, 0, 0.7);
      .slider-button-inner {
        align-items: center;

        .swiper-pagination-bullets {
          position: relative;
        }

        .swiper-pagination-bullet {
          width: 2.22222vw;
          // width: 114px;
          height: 2.22222vw;
          background: #fff;
          margin: 0 0 0 3.333333vw;
          vertical-align: middle;
          border-radius: 50%;
          opacity: 0.7;

          &:before {
            display: none;
          }
          .swiper-pagination_desc {
            display: none;
          }
        }
        .swiper-pagination-bullet-active {
          opacity: 1;
          .activebar {
            opacity: 0;
          }
        }

        .swiper-pagination_desc {
          font-size: 14px;
          font-weight: 700;
          color: black;
        }

        .swiper-btn {
          margin-left: 10px;
        }
      }
    }
  }
}

@keyframes slider-progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
