.router-nav {
  .swiper-slide {
    position: relative;
    margin: 0 15px;
    font-size: 14px;
    &:last-child {
    }
    &.third.swiper-slide-next {
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: red;
      }
    }
  }
}
