@import 'scss/mixins.scss';

.myscription_main {
  padding-bottom: 48px;

  .section_first_inner {
    text-align: center;
    margin: 48px auto;
    h3 {
      font-size: 38px;
      font-weight: 700;
    }
    span {
      font-size: 14px;
    }
  }

  .button_circle {
    margin: 20px 0 40px;
    height: 100%;
    a {
      display: inline-block;
      padding: 10px 24px 11px;
      font-size: 14px;
      font-weight: 700;
      border-radius: 20px;
      border: 1px solid #000;
    }
  }

  .button_wrapper {
    button {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      &:first-child {
        margin-right: 46px;
        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background-color: #000;
        }
      }
    }
  }

  .section_second_inner {
    line-height: 1.6;
    margin: 0 auto;
    position: relative;
    padding: 24px 24px 48px;
    border-radius: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
    &.section_inner_info {
      padding: 24px 24px 24px;
    }
    .date_wrapper {
      width: 100%;
    }
    .date {
      font-size: 14px;
      em {
        color: #ddd;
      }
    }
    .second_contents {
      margin-top: 48px;
    }
    .img_wrapper {
      font-size: 0;
      margin-right: 48px;
      width: 164px;
      float: left;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .desc_wrapper {
      float: left;
      h4 {
        color: #2189ff;
        font-size: 14px;
      }
      p {
        font-size: 24px;
      }

      span {
        display: block;
        font-size: 14px;
        &.mobile {
          display: none;
        }
        em {
          color: #2189ff;
        }
      }
      .padding {
        padding: 16px 0 8px;
      }
      .padding-bottom {
        padding: 0;
      }
      .gauage {
        margin: 32px 0 25px;

        display: flex;
        li {
          margin-right: 8px;
          width: 40px;
          height: 4px;
          background-color: #2189ff;
          opacity: 30%;
          &.active {
            opacity: 1;
          }
        }
      }
      .route_btn {
        a {
          font-size: 14px;
          i {
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            background-image: url('../assets/icons/icon_regular_navigation_next.png');
            background-size: cover;
          }
        }
      }
    }
    .button_wrapper {
      margin-top: 41px;
      &.cancelbutton {
        margin-top: 10px;
        a {
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000;
          }
        }
      }
      float: right;
      .button_inner {
        a {
          display: block;
          padding: 10px 40px;
          font-size: 14px;
          font-weight: 700;
          background-color: #000;
          border: 1px solid #000;
          color: #fff;
          border-radius: 20px;
          text-align: center;
        }
        &:last-child {
          margin-top: 8px;
          a {
            color: #000;
            background-color: #fff;
          }
        }
      }
    }
  }

  .section_third_inner {
    position: relative;
    margin: 48px auto;
    padding: 0 24px;
    .slider_wrapper {
      margin: 0 auto;
      width: 80%;
      max-width: 1038px;
      .swiper-slide {
        text-align: center;
        max-width: 330px;
        background-color: #f7f7f7;
        border-radius: 20px;
        .swiper-slide-inner {
          padding: 32px 24px;
        }
        .text {
          display: flex;
          width: 100%;
          height: 48px;
          align-items: center;
          justify-content: center;
        }
        h4 {
          font-size: 16px;
          line-height: 1.3;
        }
        figure {
          margin-top: 12px;
          width: 100%;
          padding: 0 67px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .slide_desc {
          margin-top: 80px;
          font-size: 14px;
          &.margin {
            margin-top: 64px;
          }
          .cost {
            margin-bottom: 3px;
            color: #000;
            font-size: 22px;
          }
          p {
            color: #0381fe;
            .line {
              color: #000;
              margin-right: 8px;
              text-decoration: line-through;
            }
          }
          a {
            margin-top: 12px;
            display: inline-block;
            padding: 10px 40px;
            font-size: 14px;
            border-radius: 20px;
            border: 1px solid #000;
          }
        }
        .color-picker {
          margin-top: 12px;
          width: 100%;
          text-align: center;
          li {
            display: inline-block;
            position: relative;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #000;
            margin-left: 19px;
            border: 1px solid #33000000;

            &.beige {
              background: #d5baaa;
            }
            &.brown {
              background: #9a716e;
            }
            &.indigo {
              background: #334d79;
            }
            &.mystic {
              background: #3c3c3e;
            }
            &.white {
              background: #eff0f1;
            }
            &:first-child {
              margin-left: 0;
              &:after {
                position: absolute;
                left: -5px;
                top: -5px;
                content: '';
                display: block;
                width: 22px;
                height: 22px;
                border: 1px solid #000;
                border-radius: 50%;
              }
            }
            &:nth-child(2) {
              margin-left: 19px;
            }
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: #000000;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: 24px;
      z-index: 2;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: 24px;
      z-index: 2;
    }
  }
  .update_btn {
    padding-top: 31px;
    width: 100%;
    clear: both;
    text-align: center;
    a {
      display: block;
      font-size: 14px;
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-image: url('../assets/icons/icon_bold_navigation_open_down.png');
        background-size: cover;
      }
    }
  }

  @include B767 {
    .section_first_inner {
      margin: 8.88888vw auto 7.4999999vw;
      h3 {
        font-size: 7.22222vw;
        font-weight: 700;
      }
      span {
        font-size: 3.333333vw;
      }
    }
    .button_circle {
      margin: 20px 0 9.4444444vw;
      height: 100%;
      a {
        display: inline-block;
        padding: 10px 24px 11px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 20px;
        border: 1px solid #000;
      }
    }

    .button_wrapper {
      button {
        font-size: 3.333333vw;
        &:first-child {
          margin-right: 8.88888vw;
        }
      }
    }
    .section_second_inner {
      padding: 11.1111vw 24px 8.8vw;
      width: calc(100% - 48px);
      &.section_inner_info {
        padding: 11.1111vw 24px 8.8vw;
      }
      .second_contents {
        margin-top: 2vw;
      }
      .date_wrapper {
        text-align: center;
        span {
          font-size: 12px;
        }
      }

      .img_wrapper {
        width: 100%;
        margin-right: 0;
      }
      .desc_wrapper {
        float: inherit;
        text-align: center;
        h4 {
          color: #2189ff;
          font-size: 14px;
        }
        p {
          line-height: 1.2;
          font-size: 4.444444vw;
          margin: 1.5vw 0;
        }

        span {
          &.mobile {
            display: block;
          }
          &.web {
            display: none;
          }
          font-size: 3.1111vw;
          font-weight: 400;
        }
        .padding {
          padding: 2.5vw 0 1vw;
          border-top: 1px solid #ddd;
        }
        .padding-bottom {
          padding: 1.5vw 0 2.5vw;
        }
        .gauage {
          margin: 6.7vw 0 4.7vw;

          display: flex;
          justify-content: center;
          li {
            margin-right: 1vw;
            width: 5vw;
            height: 4px;
            background-color: #2189ff;
            opacity: 30%;
            &.active {
              opacity: 1;
            }
          }
        }
      }
      .button_wrapper {
        margin-top: 8.88888vw;
        float: inherit;
        &.cancelbutton {
          margin-top: 5vw;
          text-align: center;
          a {
            display: inline-block;
            position: relative;
          }
        }
        .button_inner {
          padding: 0 6.3999999vw;
          a {
            display: block;
            padding: 10px 6vw;
          }
          &:last-child {
            margin-top: 8px;
            a {
              color: #000;
              background-color: #fff;
            }
          }
        }
      }
    }
    .update_btn {
      padding-top: 14vw;
    }

    .section_third_inner {
      max-width: 1440px;
      margin: 48px auto;
      padding: 0 24px;
      .slider_wrapper {
        margin: 0 auto;
        width: 100%;
        .swiper-slide {
          max-width: 100%;
          background-color: #f7f7f7;
          border-radius: 20px;
          .swiper-slide-inner {
            padding: 6.69999vw 24px;
          }
          .text {
            height: 12.2222222vw;
          }
          h4 {
            font-size: 4.444444vw;
          }
          figure {
            margin-top: 3.3333333vw;
            width: 100%;
            padding: 0 16.11111vw;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .slide_desc {
            margin-top: 26vw;
            font-size: 3.33333vw;
            &.margin {
              margin-top: 17.44444444vw;
              a {
                margin-top: 7.44444vw;
              }
            }
            .cost {
              margin-bottom: 0px;
              color: #000;
              font-size: 4.444444vw;
            }
            p {
              color: #0381fe;
              .line {
                color: #000;
                margin-right: 1vw;
                text-decoration: line-through;
              }
            }
            a {
              margin-top: 2.5vw;
              display: inline-block;
              padding: 2.44444vw 40px;
              font-size: 14px;
              border-radius: 20px;
              border: 1px solid #000;
            }
          }
        }
        .color-picker {
          margin-top: 3.333333vw;
        }
      }
      .swiper-button-next,
      .swiper-container-rtl .swiper-button-prev {
        display: none;
      }
      .swiper-button-prev,
      .swiper-container-rtl .swiper-button-next {
        display: none;
      }
    }
  }
}
